<div id="app">
  {{ info }}
</div>

<div class="mainContainer">


<div class="textContainer">
  <p class="pekhadva">Tronald DUMP</p>

  <p class="pekha">MAKE MY PROJECT GREAT AGAIN!</p>
</div>
<div id="name">

</div>

<div></div>

<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<div class="button-wrapper" style="padding: 10px;">
  <a href="http://tronalddump.io/tag/Barack%20Obama" class="btn btn-1">Obama</a>
  <a href="http://tronalddump.io/tag/Women" class="btn btn-2"> Women</a>
  <a href="http://tronalddump.io/tag/Hillary%20Clinton" class="btn btn-4">Clinton</a>
  <a href="http://tronalddump.io/tag/Money" class="btn btn-5">Money</a>
  <a href="http://tronalddump.io/tag/Donald%20Trump" class="btn btn-6">Trump</a>
</div>
<header>

 <div class="container">
            <form id="form"  autocomplete="off">
                <input type="text" id="search"  placeholder="search">
                <button>Don`t push me</button>
            </form>
        </div>
<section id="video">
    <section class="result" id="result">
        <div></div>
    </section>
</header>

